.-controls{
  position: relative;
  z-index: 2;
  // background-color: pink;
  // max-width: 90%;
  display: grid;
  grid-template-columns: repeat(1000, 1fr);
  grid-row: 1000/1000;
}
.slider-prev{
grid-column: 1/1;
grid-row: 1;
min-height: 300px;
position: absolute;
bottom: 14px;
}
.slider-next{
grid-column: 1000;
grid-row: 1;
min-height: 300px;
position: absolute;
bottom: 14px;
}
.dots{
  grid-column: 500/500;
  position: relative;
  bottom: 14px;
  display:flex;
  height: 21px;
  button{
    border-radius: 36px;
    justify-content: space-around;
    margin: 0 2px;
    border: 1px solid black;
    max-height: 14px;
    background-color: transparent;
    cursor: pointer;
    &.active{
      background-color: red;
    }
  }
}