.adhesion_list{
  display: flex;
  flex-wrap: wrap;
  width: 75vw;
  li{
    width: 100%;
    min-height: 30px;
    line-height: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    div{
      width: 15%;
    }
    .adhesion_com {
      width: 40%;
      overflow: auto;
      word-wrap: break-all;
    }
  }
  li:nth-child(even){
    background-color: rgb(228, 223, 223);
  }
}
.adhesion_title{
  margin: 10px 0;
  text-align: center;
  font-size: larger;
}