.simpleText{
  width: 85%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 75px;
  h2{
    text-align: center;
    margin-bottom: 50px;
  }  
  article{
    margin-bottom: 50px;
    padding-left: 3%;
  }
}